body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdf2e9;
}

.track-report-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1,
h2,
h3 {
  color: #333;
}

input,
textarea {
  width: 97%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #cf711f;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #e67e22;
}

.hidden {
  display: none;
}

.security-notice {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #777;
}

.progress-tracker ul {
  list-style-type: none;
  padding: 0;
}

.progress-tracker li {
  margin: 5px 0;
}
